.testimonal-flex {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.testimonal-card {
  min-width: 250px;
}
/* width */
.testimonal-flex::-webkit-scrollbar {
  height: 0.4rem;
}

/* Track */
.testimonal-flex::-webkit-scrollbar-track {
  background: var(--lightBlue--);
}

/* Handle */
.testimonal-flex::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to left,
    var(--mainColor--) 100%,
    var(--darkBlue--) 40%
  );
}
@media (max-width: 867px) {
  .testimonal-card {
    min-width: 250px;
  }
  .testimonals h3 {
    font-size: 1.5rem;
  }
  .testimonals p {
    font-size: .8rem;
  }
}
