.testimonal-flex {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.testimonal-card {
  min-width: 300px;
}
/* width */
.testimonal-flex::-webkit-scrollbar {
  height: 0.4rem;
}

/* Track */
.testimonal-flex::-webkit-scrollbar-track {
  background: var(--lightBlue--);
}

/* Handle */
.testimonal-flex::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    var(--mainColor--) 0%,
    var(--darkBlue--) 100%
  );
}
@media (max-width: 867px) {
  .testimonal-flex {
    flex-direction: column;
  }
}
